<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">VeloVista</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index_admin}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAboutUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/salony_admin}">Shops</a></a>
                        <a class="dropdown-item" th:href="@{/kontakt_admin}">Contact</a></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkOffer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Offer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/pojazdy}">Cars</a></a>
                        <a class="dropdown-item" th:href="@{/modele_admin}">Car Models</a></a>
                        <a class="dropdown-item" th:href="@{/ofertaKupno_admin}">Purchase</a></a>
                        <a class="dropdown-item" th:href="@{/ofertaWypozyczenie_admin}">Rental</a></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pracownicy}">Staff</a></a>
                </li>

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Account
                        <span class="sr-only">(current)</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Container 1 -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" th:action="@{/index}">
                <div class="card shadow-lg rounded-3 p-4">
                    <h1 class="card-title text-primary" th:inline="text">Welcome, <a class="text-info text-capitalize fw-bold">[[${#httpServletRequest.remoteUser}]]</a>!</h1>
                    <p class="lead">Explore all available actions on <a th:href="@{/index_admin}" class="text-info fw-bold">Home</a>.</p>
                    <p class="lead">To logout, simply click the "Logout" button below.</p>
                    <button class="btn btn-primary" type="submit" onclick="successfullyLogout()">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Container 2 -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h2 class="card-title">Vehicle Counts</h2>
                    <p class="card-text">Total Vehicles: <span th:text="${dashboard.vehicleCount}"></span></p>
                    <p class="card-text">Total Car Models: <span th:text="${dashboard.carModelCount}"></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <h2 class="card-title">Offer Counts</h2>
                    <p class="card-text">Total Purchase Offers: <span th:text="${dashboard.purchaseOfferCount}"></span></p>
                    <p class="card-text">Total Rental Offers: <span th:text="${dashboard.rentalOfferCount}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>


</body>
</html>