<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <!-- ... (bez zmian) ... -->
</nav>

<div class="container mt-5">
    <h1 class="text-center">VeloVista Add Car Shop</h1>

    <form action="/save" th:action="@{/save}" th:object="${salon_samochodowy}" method="post">
        <!-- Nie dodajemy pola id_salon_samochodowy -->

        <div class="form-group">
            <label for="wlasciciel">Owner</label>
            <input type="text" class="form-control" id="wlasciciel" th:field="*{wlasciciel}">
        </div>

        <div class="form-group">
            <label for="data_zalozenia">Date of starting</label>
            <input type="text" class="form-control" id="data_zalozenia" th:field="*{data_zalozenia}">
        </div>

        <div class="form-group">
            <label for="nazwa">Name of the shop</label>
            <input type="text" class="form-control" id="nazwa" th:field="*{nazwa}">
        </div>

        <div class="form-group">
            <label for="id_adres">ID Address</label>
            <input type="text" class="form-control" id="id_adres" th:field="*{id_adres}">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<p>JESTES W SALONY_ADD.HTML</p>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

