<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
 <!--th:style="'background: url(../assets/home_background.png) no-repeat center center fixed;'">-->


<!--<style th:inline="text">
    body{
        background: url(../assets/home_background.png)
        no-repeat center center fixed;
    }
</style>-->


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BADA Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Login</a></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!--Using images in page    -->
<!--<img th:src="@{/assets/home.png}" alt="Image" class="img-fluid">-->


<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Welcome to the home page!</label>
            <div style="font-size:20px">If you want to login, click <a th:href="@{/main}"><b>here</b></a> or in the
                upper right corner.
            </div>

        </div>
    </div>
</div>


<div align="center">
    <h1>Salony samochodowe</h1>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Date of starting</th>
            <th>Name</th>
            <th>ID Address</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="salon : ${listSalon_samochodowy}">
            <td th:text="${salon.id_salon_samochodowy}">ID</td>
            <td th:text="${salon.wlasciciel}">Owner</td>
            <td th:text="${salon.data_zalozenia}">Date of starting</td>
            <td th:text="${salon.nazwa}">Name</td>
            <td th:text="${salon.id_adres}">ID Address</td>
        </tr>
        </tbody>

    </table>

</div>

 <!--<div align="center">
     <h1>Oferty</h1>

     <table border="1" cellpadding="10">

         <thead>
         <tr>
             <th>ID Oferta</th>
             <th>ID Salon</th>
             <th>Cena</th>
             <th>Date of starting</th>
             <th>Nabycie</th>
             <th>ID Pojazd</th>

         </tr>
         </thead>

         <tbody>
         <tr th:each="oferta : ${listSalon_samochodowy}">
             <td th:text="${oferta.id_oferta}">ID Oferta</td>
             <td th:text="${oferta.id_salon_samochodowy}">ID Salon</td>
             <td th:text="${oferta.cena}">Cena</td>
             <td th:text="${oferta.data_utworzenia}">Date of starting</td>
             <td th:text="${oferta.typ_nabycia}">Nabycie</td>
             <td th:text="${oferta.id_pojazd}">ID Pojazd</td>
         </tr>
         </tbody>

     </table>

 </div>-->


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

