<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">VeloVista</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a></a>
                </li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAboutUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item active" href="#">Shops</a>
                        <span class="sr-only">(current)</span>
                        </a>
                        <a class="dropdown-item" th:href="@{/kontakt}">Contact</a></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkOffer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Offer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/modele}">Car Models</a></a>
                        <a class="dropdown-item" th:href="@{/ofertaKupno}">Purchase</a></a>
                        <a class="dropdown-item" th:href="@{/ofertaWypozyczenie}">Rental</a></a>
                    </div>
                </li>

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a></a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- Car shops -->
<div align="center">
    <h1>VeloVista Car Shops</h1>

    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Date of starting</th>
            <th>Name</th>
            <th>ID Address</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="salon : ${listSalon_samochodowy}">
            <td th:text="${salon.id_salon_samochodowy}">ID</td>
            <td th:text="${salon.wlasciciel}">Owner</td>
            <td th:text="${salon.data_zalozenia}">Date of starting</td>
            <td th:text="${salon.nazwa}">Name</td>
            <td th:text="${salon.id_adres}">ID Address</td>
        </tr>
        </tbody>

    </table>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>